* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    background-color: lightgreen;
    font-family: Verdana;
    }


h1 {
    text-align: center;
    border: 3px;
}


/*teléfonos celulares */
@media (max-width: 767px) {
    .clase {
        font-size: 14px;
        padding: 5px;
    }
}
/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    .clase {
        font-size: 16px;
        padding: 10px;
    }
}
/* Estilos para pantalla de escritorio */
@media (min-width: 1024px) {
    .clase {
        font-size: 18px;
        padding: 15px;
    }
}


.navbar {
    padding: 10px 0;
    text-align: center;
    /*background-color: #254432;*/
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #0D2818;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul li a:hover {
    background-color: #058C42;
    color: #0D2818;
    border-radius: 5px;
    color: white;
}  

/*estilos de la compra*/
.productos-venta {
    margin-top: 20px;
}

.productos-venta h2 {
    text-align: center;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.producto {
    margin: 10px;
    /*padding: 15px;*/
    width: 250px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
}

.producto img {
    /*width: 100%;*/
    width:18vw;
    border-radius: 5px;
}

.producto h3 {
    margin-top: 10px;
}

.producto p {
    font-size: 14px;
}

.producto button {
    background-color: #058C42;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #16DB65;
}

.piepag img {
    width: 50px;
    height: auto;
    cursor: pointer;
    text-align: left;
    display: inline-block;
}

.pie{
    background-color: #254432;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; /* Para que ocupe toda la altura del viewport */
    /*max-width: 700px;*/
}

.form-container h2{
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #147910;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contacto-options {
    display: flex;
}

.contacto-options input[type="radio"],
.contacto-options label {
    margin-right: 10px;
}